<template>
    <div class="product_page">
        <div class="product_wrapper">
            <div class="product_main_container">
                <ProductImageLayout />

                <div class="product_name">
                    <h2>{{ currentProductModel.name }}</h2>
                </div>
            </div>

            <div class="product_attributes container">
                <p>Аттрибуты</p>
            </div>

            <div class="product_desdcription container">
                <div class="product_description">
                    <div v-html="currentProductModel.description"></div>
                </div>
            </div>
        </div>
    </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue';
import { useRoute } from 'vue-router';
import ProductSourceEnum from 'src/Enums/ProductSourceEnum';
import ProductImageLayout from 'src/layouts/Catatalog/Product/ProductImageLayout.vue';
import {
    getProductById,
    currentProductModel,
} from 'src/Services/Catalog/CatalogProductService';
import { setHeaderStates } from 'src/Services/HeaderService';

export default defineComponent({
    name: 'AsyncProductPage',
    components: {
        ProductImageLayout,
    },
    async setup() {
        // Init route
        const route = useRoute();

        // Get current product
        await getProductById(Number(route.params.productId));

        // Set header state
        setHeaderStates(currentProductModel.value?.name);

        const source = ProductSourceEnum.catalogCategory;
        return {
            source,
            currentProductModel,
        };
    },
});
</script>
<style lang="scss" scoped>
.product_page {
    .product_main_container {
        .product_name {
            margin-top: 10px;
            h2 {
                margin: 0%;
                font-size: 20px;
                line-height: 1;
            }
        }
    }
    .container {
        background: $lightThemeDedicatedBackgroundColor;
        margin: 10px -10px;
        padding: 10px;
        border-radius: 5px;
    }
}
</style>


<style lang="scss" >
body.body--dark {
    .product_page {
        .container {
            background: $darkThemeDedicatedBackgroundColor;
        }
    }
}
</style>
