<template>
    <Suspense>
        <AsyncProductPage />
    </Suspense>
</template>

<script lang="ts">
import { currentCatalogCategoryModel } from 'src/Services/Catalog/CatalogCategoryService';
import AsyncProductPage from './AsyncProductPage.vue';
import { defineComponent } from 'vue';

export default defineComponent({
    name: 'CategoryPage',
    components: {
        AsyncProductPage,
    },
    setup() {
        return { currentCatalogCategoryModel };
    },
});
</script>
