<template>
    <div>
        <div>{{ rrr }}</div>
    </div>
</template>

<script lang="ts">
import { defineComponent, ref } from 'vue';

export default defineComponent({
    name: 'FingerprintLayout',
    components: {},
    async setup() {
        const rrr = ref({});

        const $window = window as any;

        const isAvailableSuccess = async () => {
            const successCallback = () => {
                alert('success');
            };

            const errorCallback = (error: any) => {
                alert('Authentication invalid ' + error.message);
            };

            const pp = await $window.Fingerprint.show({
                clientId: 'fingerprintId',
                clientSecret: '123456',
                disableBackup: false,
                localizedFallbackTitle: 'Use Pin', //Only for iOS
                localizedReason: 'Please authenticate', //Only for iOS
                description: 'Some biometric description',
                title: 'Auth title',
                subtitle: 'Auth subtitle',
                fallbackButtonTitle: 'test fallbackButtonTitle',
            }, successCallback, errorCallback);

            alert(111);
            alert(pp);
        };

        const isAvailableError = (error: any) => {
            // 'error' will be an object with an error code and message
            alert(error.message);
        };

        rrr.value = $window.Fingerprint.isAvailable(
            isAvailableSuccess,
            isAvailableError
        );

        return { rrr };
    },
});
</script>
