<template>
    <div>
        <h1>Wishlist</h1>
        <h1>Wishlist</h1>
        <h1>Wishlist</h1>
        <h1>Wishlist</h1>
        <h1>Wishlist</h1>
        <h1>Wishlist</h1>
        <h1>Wishlist</h1>
        <h1>Wishlist</h1>
        <h1>Wishlist</h1>
        <h1>Wishlist</h1>
        <h1>Wishlist</h1>
        <h1>Wishlist</h1>
        <h1>Wishlist</h1>
        <h1>Wishlist</h1>
        <h1>Wishlist</h1>
        <h1>Wishlist</h1>
        <h1>Wishlist</h1>
        <h1>Wishlist</h1>
        <h1>Wishlist</h1>
        <h1>Wishlist</h1>
        <h1>Wishlist</h1>
        <h1>Wishlist</h1>
        <h1>Wishlist</h1>
        <h1>Wishlist</h1>
        <h1>Wishlist</h1>
        <h1>Wishlist</h1>
        <h1>Wishlist</h1>
        <h1>Wishlist</h1>
        <h1>Wishlist</h1>
        <h1>Wishlist</h1>
        <h1>Wishlist</h1>
        <h1>Wishlist</h1>
        <h1>Wishlist</h1>
        <h1>Wishlist</h1>
        <h1>Wishldist</h1>
    </div>
</template>

<script lang="ts">
import { setHeaderStates } from 'src/Services/HeaderService';
import { defineComponent, onMounted } from 'vue';

export default defineComponent({
    name: 'WishlistPage',
    components: {},
    setup() {
        onMounted(() => {
            setHeaderStates('Wishlist');
        });
        return {};
    },
});
</script>
