<template>
    <svg>
        <use
            :xlink:href="
                require('./default.svg') + `#${svgId}`
            "
        />
    </svg>
</template>

<script lang='ts'>
import { defineComponent } from 'vue';

export default defineComponent({
    name: 'SvgComponent',

    props: {
        svgId: {
            type: String,
        },
    },
    setup() {
        return {};
    },
});
</script>
