<template>
    <div class="catalog">
        <router-view />
    </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({
    name: 'CatalogIndex',
    setup() {
        return { };
    },
});
</script>
