<template>
    <div class="home_container">
        <div>
            {{ device }}
        </div>
        <q-page class="main-container row items-center justify-evenly">
            <example-component
                title="Example component222"
                active
                :todos="todos"
                :meta="meta"
            ></example-component>
        </q-page>
    </div>
</template>

<script lang="ts">
/**
 * @author Medet Bakhytzhan <b.m.bakytzhan@gmail.com>
 */

import { Todo, Meta } from 'components/models';
import ExampleComponent from 'components/ExampleComponent.vue';
import { defineComponent, onMounted, ref } from 'vue';
import { setHeaderStates } from 'src/Services/HeaderService';

export default defineComponent({
    name: 'HomePage',
    components: { ExampleComponent },
    setup() {
        const device = ref({});
        onMounted(() => {
            setHeaderStates(null, false, true);
            device.value = window.device;
        });
        const todos = ref<Todo[]>([
            {
                id: 1,
                content: 'ct',
            },
            {
                id: 2,
                content: 'ct2',
            },
            {
                id: 3,
                content: 'ct3',
            },
            {
                id: 4,
                content: 'ct4',
            },
            {
                id: 5,
                content: 'ct5',
            },
        ]);
        const meta = ref<Meta>({
            totalCount: 1200,
        });
        return { todos, meta, device };
    },
});
</script>
