<template>
    <div class="product_card" :data-product-id="product.entityId">
        <q-card>
            <router-link
                :to="{
                    name: 'product_page',
                    params: { productId: product.entityId },
                }"
                @click="setCurrentProduct(product)"
            >
                <q-img :src="product.thumbnail" :ratio="1" fit="contain">
                    <template v-slot:loading>
                        <q-spinner-gears />
                    </template>
                    <template v-slot:error>
                        <img
                            :src="plug"
                            class="
                                q-img__image
                                q-img__image--with-transition
                                q-img__image--loaded
                            "
                        />
                    </template>
                </q-img>

                <q-card-section class="data-container">
                    <div class="product-name">
                        <span>{{ product.name }}</span>
                    </div>
                    <div class="price-box">
                        <div class="old-price">
                            <span v-if="product.oldPrice > product.price">
                                {{ currencyFormat(product.oldPrice) }} ₸
                            </span>
                        </div>

                        <div class="price">
                            <span>{{ currencyFormat(product.price) }} ₸</span>
                        </div>
                    </div>
                </q-card-section>
            </router-link>
            <q-card-actions class="actions">
                <q-btn flat v-if="product.isInStock">{{
                    $t('Add to cart')
                }}</q-btn>
                <q-btn flat v-else>{{ $t('Not available') }}</q-btn>
            </q-card-actions>
        </q-card>
    </div>
</template>


<script lang="ts">
import appConfig from 'src/config/app';
import { currentProductModel } from 'src/Services/Catalog/CatalogProductService';
import CatalogProductType from 'src/Types/Catalog/CatalogProductType';
import { defineComponent } from 'vue';

export default defineComponent({
    name: 'ProductCardLayout',
    components: {},
    props: {
        product: {
            type: Object,
        },
    },

    setup() {
        const currencyFormat = (price: number) => {
            return price.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ' ');
        };

        const setCurrentProduct = (product: CatalogProductType) => {
            currentProductModel.value = product;
        };
        const plug = appConfig.media.plugImage;
        return {
            currencyFormat,
            setCurrentProduct,
            plug,
        };
    },
});
</script>


<style lang="scss" scoped>
.product_card {
    .data-container {
        padding: 5px;
        font-size: 12px;
        .product-name {
            height: 36px;
            overflow: hidden;
            span {
                overflow-wrap: anywhere;
            }
        }
        .price-box {
            font-size: 14px;
            margin-top: 15px;
            display: flex;
            min-height: 42px;
            flex-direction: column;
            justify-content: center;
            .old-price {
                span {
                    position: relative;
                    &::after {
                        content: '';
                        position: absolute;
                        width: 100%;
                        height: 1px;
                        top: 6px;
                        left: 0;
                        background-color: #ff0000;
                        transform: rotate(-7deg);
                    }
                }
            }
        }
    }
    a {
        text-decoration: none;
        color: inherit;
        .q-img {
            border-radius: 4px 4px 0 0;
            .q-spinner {
                color: $storeMainColor;
            }
        }
    }
    .actions {
        padding: 0;
        button {
            width: 100%;
            padding: 0;
            background: #dd6401;
            border-radius: 0 0 4px 4px;
        }
    }
}
</style>>
