<template>
    <div class="listing-wrapper" :class="listingType">
        <!-- layered navigation -->
        <LayeredNavigationLayout @apply="applyFilter" :source="source" />

        <!-- listing -->
        <div class="product-listing">
            <q-infinite-scroll
                @load="onLoad"
                :offset="500"
                :initial-index="1"
                v-if="currentSourceProductsModel.products.length"
            >
                <div class="product_list">
                    <ProductCardLayout
                        :product="product"
                        v-for="product in currentSourceProductsModel.products"
                        :key="product.entityId"
                    />
                </div>

                <template v-slot:loading>
                    <div class="row justify-center q-my-md" v-if="!endOfPage">
                        <q-spinner-dots size="40px" />
                    </div>
                </template>
            </q-infinite-scroll>
            <ProductListingSkeleton
                v-else-if="currentSourceProductsModel.totalCount === 0.5"
            />
            <h5 v-else>Not found</h5>
        </div>
    </div>
</template>


<script lang="ts">
import { defineComponent, ref } from 'vue';
import {
    currentSourceProductsModel,
    getProducts,
} from 'src/Services/Catalog/CatalogProductService';
import ProductSourceEnum from 'src/Enums/ProductSourceEnum';
import ProductCardLayout from './ProductCardLayout.vue';
import LayeredNavigationLayout from '../../LayeredNavigation/LayeredNavigationLayout.vue';
import { useRoute } from 'vue-router';
import ProductListingSkeleton from 'src/layouts/Skeleton/ProductListingSkeleton.vue';
import {
    applyLayeredNavigation,
    listingType,
} from 'src/Services/Catalog/LayeredNavigationService';

export default defineComponent({
    name: 'ProductListingLayout',
    components: {
        ProductCardLayout,
        LayeredNavigationLayout,
        ProductListingSkeleton,
    },
    props: {
        source: {
            type: String,
        },
    },
    async setup(props) {
        const route = useRoute();
        let counter = 0;

        // Get products
        await getProducts(
            props.source as ProductSourceEnum,
            Number(route.params.id)
        );

        // Apply filter
        const applyFilter = async () => {
            await applyLayeredNavigation(
                props.source as ProductSourceEnum,
                Number(route.params.id)
            );
        };

        const endOfPage = ref(false);

        const onLoad = async (index: number, done: any) => {
            counter += currentSourceProductsModel.value.count;

            if (
                (endOfPage.value =
                    counter >= currentSourceProductsModel.value.totalCount)
            ) {
                return;
            }
            if (currentSourceProductsModel.value.count)
                await getProducts(
                    props.source as ProductSourceEnum,
                    Number(route.params.id),
                    index
                );
            done();
        };

        return {
            onLoad,
            endOfPage,
            currentSourceProductsModel,
            applyFilter,
            listingType,
        };
    },
});
</script>


<style lang="scss" scoped>
.product_list {
    display: grid;
    grid-gap: 8px;
    grid-template-columns: repeat(2, 1fr);
}
.q-spinner {
    color: $storeMainColor;
}
@media (min-width: 570px) {
    .product_list {
        grid-template-columns: repeat(3, 1fr);
    }
}
@media (min-width: 768px) {
    .product_list {
        grid-template-columns: repeat(4, 1fr);
    }
}
</style>
<style lang="scss">
.custom_loader {
    z-index: 11000 !important;
    .q-spinner.q-loading__spinner {
        color: $storeMainColor !important;
    }
}
</style>
