<template>
    <div class="product_image_container">
        <q-responsive :ratio="1">
            <q-carousel
                swipeable
                animated
                transition-prev="slide-right"
                transition-next="slide-left"
                v-model="slide"
                navigation
                v-model:fullscreen="fullscreen"
                infinite
            >
                <q-carousel-slide
                    v-for="(image, key) in currentProductModel.images"
                    :key="key"
                    :name="key + 1"
                    :img-src="image"
                    @click="switchToFullscreenMode()"
                />

                <template v-slot:control v-if="fullscreen">
                    <q-carousel-control
                        position="top-right"
                        :offset="[18, 18]"
                    >
                        <q-btn
                            push
                            round
                            dense
                            text-color="primary"
                            icon="fullscreen_exit"
                            @click="switchFromFullscreenMode"
                        />
                    </q-carousel-control>
                </template>
            </q-carousel>
        </q-responsive>
    </div>
</template>


<script lang="ts">
import { currentProductModel } from 'src/Services/Catalog/CatalogProductService';
import { hideHeader } from 'src/Services/HeaderService';
import { defineComponent, ref } from 'vue';

export default defineComponent({
    name: 'ProductImageLayout',
    components: {},
    setup() {
        const fullscreen = ref(false);

        const switchToFullscreenMode = () => {
            fullscreen.value = true;
            hideHeader.value = true;
        };

        const switchFromFullscreenMode = () => {
            fullscreen.value = false;
            hideHeader.value = false;
        };

        const slide = ref(1);
        return {
            currentProductModel,
            slide,
            fullscreen,
            switchFromFullscreenMode,
            switchToFullscreenMode,
        };
    },
});
</script>


<style lang="scss" scoped>
.product_image_container {
    margin: -10px -10px 0 -10px;
    .q-carousel__slide {
        background-size: contain;
        background-repeat: no-repeat;
        padding: 0;
    }
}
</style>>

<style lang="scss">
.q-carousel__slide {
    background-size: contain;
    background-repeat: no-repeat;
    padding: 0;
}
.q-carousel__control {
    .q-icon {
        color: $storeMainColor;
    }
}
</style>>
