<template>
    <div class="skeleton_container">
        <q-card v-for="n in 12" :key="n">
            <q-skeleton class="img_skeleton" />

            <q-card-section class="data-container">
                <div class="product-name">
                    <q-skeleton class="name_skeleton" type="text" />
                </div>
                <div class="price-box">
                    <div class="price">
                        <q-skeleton class="price_skeleton" type="text" />
                    </div>
                </div>
            </q-card-section>
            <q-card-actions class="actions">
                <q-skeleton class="btn_skeleton" type="QBtn" />
            </q-card-actions>
        </q-card>
    </div>
</template>


<script lang="ts">
import { defineComponent } from 'vue';


export default defineComponent({
    name: 'ProductListingSkeleton'   
});
</script>

