<template>
    <div class="checkout_container">
        <h1>Cart</h1>
    </div>
</template>

<script lang="ts">
/**
 * @author Medet Bakhytzhan <b.m.bakytzhan@gmail.com>
 */

import { defineComponent, onMounted } from 'vue';
import { setHeaderStates } from 'src/Services/HeaderService';

export default defineComponent({
    name: 'CheckoutPage',
    components: {},
    setup() {
        onMounted(() => {
            setHeaderStates('Checkout');
        });
        return {};
    },
});
</script>
