<template>
    <TreeComponent :categories="categoryTreeModel" />
</template>

<script lang="ts">
import { defineComponent, onMounted } from 'vue';
import TreeComponent from './components/TreeComponent.vue';
import { categoryTreeModel } from 'src/Services/Catalog/CatalogCategoryService';
import { setHeaderStates } from 'src/Services/HeaderService';

export default defineComponent({
    name: 'CategoriesTreePage',
    components: {
        TreeComponent,
    },
    setup() {

        onMounted(() => {
            setHeaderStates('Catalog');
        })
       
        return { categoryTreeModel };
    },
});
</script>
