<template>
    <div>
        <h5>Search</h5>
        <h5>Search</h5>
        <h5>Search</h5>
        <h5>Search</h5>
        <h5>Search</h5>
        <h5>Search</h5>
        <h5>Search</h5>
        <h5>Search</h5>
        <h5>Search</h5>
        <h5>Search</h5>
        <h5>Search</h5>
    </div>
</template>

<script lang="ts">
/**
 * @author Medet Bakhytzhan <b.m.bakytzhan@gmail.com>
 */

import { setHeaderStates } from 'src/Services/HeaderService';
import { defineComponent, onMounted } from 'vue';

export default defineComponent({
    name: 'SearchPage',
    setup() {
        onMounted(() => {
            setHeaderStates(null, true);
        });

        return {};
    },
});
</script>

<style lang="scss" scoped>
header,
footer {
    display: none;
}
</style>
