// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

$primary   : #1976D2;
$secondary : #26A69A;
$accent    : #9C27B0;

$dark      : #1D1D1D;

$positive  : #21BA45;
$negative  : #C10015;
$info      : #31CCEC;
$warning   : #F2C037;


$pageMaxWidth: 1024px;


// Store colors
$marwin: #17a3d1;
$meloman: #0100d3;
$komfort: #71bf44;
$storeMainColor: $komfort;

// Store loading background colors
$marwinLoader: #17a3d1;
$melomanLoader: #ff8400;
$komfortLoader: #71bf44;
$storeLoaderColor: $komfortLoader;

// Font color
$fontColor: #1d1d1d;
$darkThemeFontColor: #e4e4e4;

$whiteColor: #f4f4f4;

$lightThemeBackgroundColor: #f4f4f4;
$darkThemeBackgroundColor: #1d1d1d;
$lightThemeDedicatedBackgroundColor: #ffffffb8;
$darkThemeDedicatedBackgroundColor: #252525;


// Font family
$typography-font-family: PragN;

// Shadow
$shadow: 0 4px 16px 1px rgba(0,26,52,.16);
$darkThemeShadow: 0 4px 16px 1px rgba(255,255,255,.16);

