<template>
    <div
        class="category"
        :class="{ expanded: expandedCategories.includes(category.entityId) }"
        v-for="category in categories"
        :key="category.entityId"
        :data-level="category.level"
        :data-id="category.entityId"
    >
        <div class="content">
            <div
                class="name"
                @click="expand(category.entityId)"
                v-if="category.children.length"
            >
                <q-avatar size="30px" class="icon" v-if="category.level === 2">
                    <img :src="category.thumbnailImage" />
                </q-avatar>
                <span>
                    {{ category.name }}
                </span>
            </div>

            <router-link
                v-if="!category.children.length"
                :to="{
                    name: 'category_page',
                    params: { id: category.entityId },
                }"
            >
                <div class="name" @click="expand(category.entityId)">
                    <q-avatar
                        size="30px"
                        class="icon"
                        v-if="category.level === 2"
                    >
                        <img :src="category.thumbnailImage" />
                    </q-avatar>
                    <span>
                        {{ category.name }}
                    </span>
                    <SvgComponent :svgId="'link'" />
                </div>
            </router-link>

            <div class="expand_btn" v-if="category.children.length">
                <router-link
                    :to="{
                        name: 'category_page',
                        params: { id: category.entityId },
                    }"
                >
                    <SvgComponent :svgId="'link'" />
                </router-link>
            </div>
        </div>
        <TreeComponent
            v-if="expandedCategories.includes(category.entityId)"
            :categories="category.children"
        />
    </div>
</template>

<script lang="ts">
import { unset } from 'lodash';
import { defineComponent, Ref, ref } from 'vue';
import SvgComponent from 'src/helpers/svg/SvgComponent.vue';

export default defineComponent({
    name: 'TreeComponent',
    components: {
        SvgComponent,
    },
    props: {
        categories: {
            type: Object,
        },
    },
    setup() {
        // Expanded category ids state
        const expandedCategories: Ref<number[]> = ref([]);

        // Expand category
        const expand = (categoryId: number): void => {
            const index = expandedCategories.value.indexOf(categoryId);

            if (index === -1) {
                expandedCategories.value.push(categoryId);
                return;
            }
            unset(expandedCategories.value, index);
        };

        return {
            expandedCategories,
            expand,
        };
    },
});
</script>

<style lang="scss" scoped>
.category {
    font-size: 13px;
    max-height: 50px;
    overflow: hidden;
    cursor: pointer;
    transition: max-height 0.2s ease-in-out;
    align-items: center;
    &[data-level='4'] {
        .name {
            svg {
                width: 20px;
                height: 16px;
                opacity: 0.5;
            }
        }
    }
    .content {
        display: flex;
        align-items: center;
        padding: 10px 0;

        a {
            text-decoration: none;
            color: inherit;
        }
        .name {
            display: flex;
            justify-content: space-between;
            width: 100%;
            align-items: center;
            &:active {
                // background: $storeMainColor;
                opacity: 0.5;
            }
            span {
                text-decoration: none;
                color: inherit;
                width: 100%;
                border-radius: 5px;
            }
        }
        .expand_btn {
            width: 30px;
            text-align: end;
            border-radius: 50px;
            transition: background 0.2s ease-in-out;
            &:active {
                background: $storeMainColor;
            }
            svg {
                margin: 7px;
                width: 16px;
                height: 16px;
                fill: $fontColor;
                transition: all 0.2s linear;
                vertical-align: middle;
                opacity: 0.5;
            }
        }
        .q-avatar {
            margin-right: 15px;
        }
    }

    &[data-level='3'] {
        padding-left: 45px;
        max-height: 35px;

        [data-level='4'] {
            padding-left: 15px;
        }
    }
    &.expanded {
        max-height: 4000px;
    }
}

.body--dark {
    .category {
        .content {
            .expand_btn svg {
                fill: $darkThemeFontColor;
            }
        }
    }
}
</style>
