<template>
    <div>
        <div>{{ rrr }}</div>

        <Suspense>
            <FingerprintLayout />
        </Suspense>
    </div>
</template>

<script lang="ts">
import { defineComponent, ref } from 'vue';
import FingerprintLayout from 'src/layouts/Account/FingerprintLayout.vue';
export default defineComponent({
    name: 'AccountPage',
    components: { FingerprintLayout },
    setup() {
        const rrr = ref({});


        return { rrr };
    },
});
</script>
