<template>
    <div class="filter_layout">
        <!-- Filter -->
        <q-drawer
            class="filter_sidebar"
            v-model="canShowFilterSidebar"
            side="right"
            :width="250"
            overlay
            elevated
        >
            <q-scroll-area class="fit filter_block">
                <q-list bordered class="">
                    <h5 style="text-align: center">{{ $t('Filter') }}</h5>

                    <q-expansion-item
                        class="price_filter"
                        expand-separator
                        :label="$t('Price')"
                    >
                        <q-card>
                            <q-card-section>
                                <q-range
                                    @update:model-value="applyPriceFilter"
                                    v-model="filterModel.price"
                                    :min="
                                        currentSourceProductsModel.aggregation
                                            .minPrice
                                    "
                                    :max="
                                        currentSourceProductsModel.aggregation
                                            .maxPrice
                                    "
                                    :step="1"
                                    :left-label-value="
                                        currencyFormat(
                                            filterModel.price.min ?? 0
                                        ) + ' ₸'
                                    "
                                    :right-label-value="
                                        currencyFormat(
                                            filterModel.price.max ?? 0
                                        ) + ' ₸'
                                    "
                                    label-always
                                />
                            </q-card-section>
                        </q-card>
                    </q-expansion-item>
                </q-list>
                <q-list bordered class="">
                    <q-expansion-item
                        class="stock_filter"
                        expand-separator
                        :label="$t('Availability')"
                    >
                        <q-card>
                            <q-card-section>
                                <div class="q-gutter-sm">
                                    <q-checkbox
                                        @update:model-value="
                                            applyStockFilter('all')
                                        "
                                        v-model="filterModel.stock"
                                        val="all"
                                        :label="$t('All goods')"
                                    />
                                    <q-checkbox
                                        @update:model-value="
                                            applyStockFilter('inStock')
                                        "
                                        v-model="filterModel.stock"
                                        val="inStock"
                                        :label="$t('In stock')"
                                    />
                                </div>
                            </q-card-section>
                        </q-card>
                    </q-expansion-item>

                    <div
                        class="attribute filter"
                        v-for="item in currentSourceProductsModel.filterableAttributes"
                        :key="item.attributeId"
                    >
                        <q-expansion-item
                            :class="`${item.attributeCode}_filter`"
                            expand-separator
                            :label="item.frontendLabel"
                        >
                            <q-card>
                                <q-card-section>
                                    <div class="q-gutter-sm">
                                        <div class="options">
                                            <div
                                                class="option"
                                                v-for="option in item.options"
                                                :key="option.value"
                                            >
                                                <q-checkbox
                                                    @update:model-value="
                                                        applyFilter(
                                                            item.attributeId,
                                                            option.value,
                                                            item.isMultiselect
                                                        )
                                                    "
                                                    v-model="
                                                        filterModel.attribute[
                                                            item.attributeId
                                                        ]
                                                    "
                                                    :val="option.value"
                                                    :label="option.label"
                                                />
                                            </div>
                                        </div>
                                    </div>
                                </q-card-section>
                            </q-card>
                        </q-expansion-item>
                    </div>
                </q-list>
            </q-scroll-area>
        </q-drawer>
    </div>
</template>


<script lang="ts">
import { defineComponent } from 'vue';
import {
    currentSourceProductsModel,
    filterModel,
} from 'src/Services/Catalog/CatalogProductService';
import { canShowFilterSidebar } from 'src/Services/Catalog/LayeredNavigationService';
import lodash from 'lodash';

export default defineComponent({
    name: 'FilterLayout',
    components: {},
    emits: ['apply'],
    setup(props, context) {
        const currencyFormat = (price: number) => {
            return price.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ' ');
        };

        const applyPriceFilter = (value: any) => {
            filterModel.value.price.min = value.min;
            filterModel.value.price.max = value.max;
            context.emit('apply');
        };

        const applyStockFilter = (value: string) => {
            setTimeout(() => {
                filterModel.value.stock = [value];
                context.emit('apply');
            }, 50);
        };

        const applyFilter = (
            attributeId: any,
            value: any,
            isMultiselect: any
        ) => {
            if (isMultiselect) {
                if (filterModel.value.attribute[attributeId]) {
                    if (
                        lodash.find(
                            filterModel.value.attribute[attributeId],
                            (n: any) => {
                                if (n === value) return true;
                            }
                        )
                    ) {
                        filterModel.value.attribute[attributeId] =
                            lodash.without(
                                filterModel.value.attribute[attributeId],
                                value
                            );
                    } else {
                        filterModel.value.attribute[attributeId].push(value);
                    }
                } else {
                    filterModel.value.attribute[attributeId] = [value];
                }
            } else {
                filterModel.value.attribute[attributeId] = [value];
            }

            context.emit('apply');
        };

        return {
            applyStockFilter,
            canShowFilterSidebar,
            currentSourceProductsModel,
            filterModel,
            currencyFormat,
            applyFilter,
            applyPriceFilter,
        };
    },
});
</script>


<style lang="scss" scoped>
.filter_layout {
    .price_filter {
        .q-expansion-item__content {
            .q-card__section {
                padding-top: 35px;
            }
        }
    }
}
.q-slider__track {
    color: $storeMainColor;
}
.q-list--bordered {
    border-left: none;
    border-right: none;
    border-top: none;
    .options {
        max-height: 300px;
        overflow: overlay;
    }
}
</style>


<!--Not scoped -->
<style lang="scss" >
.q-slider__track,
.q-slider__thumb,
.q-radio__inner--truthy {
    color: $storeMainColor;
}
body.body--dark {
    .q-slider__track,
    .q-slider__thumb,
    .q-radio__inner--truthy {
        color: $storeMainColor;
    }
    .q-checkbox__inner--truthy .q-checkbox__bg,
    .q-checkbox__inner--indet .q-checkbox__bg {
        background: $storeMainColor;
        border-color: $storeMainColor;
    }
}
</style>


