<template>
    <div class="layered_navigation">
        <div class="control">
            <!-- Sorter -->
            <div class="sorter_wrapper">
                <q-select
                    borderless
                    popup-content-class="sorter_select_content"
                    class="sorter_select"
                    v-model="sorterModel"
                    behavior="menu"
                    :options="sorterOptions"
                    @update:model-value="applySort"
                >
                    <template v-slot:option="scope">
                        <q-item v-bind="scope.itemProps">
                            <q-item-section>
                                <q-item-label>{{
                                    $t(scope.opt.label)
                                }}</q-item-label>
                            </q-item-section>
                        </q-item>
                    </template>
                    <template v-slot:selected>
                        <q-item-section>
                            <q-item-label>{{
                                $t(sorterModel.label)
                            }}</q-item-label>
                        </q-item-section>
                    </template>
                </q-select>
            </div>

            <!-- list mode and filter btn -->
            <div class="right_content">
                <q-toolbar q-toolbar class="filter_show_btn">
                    <q-btn flat @click="changeListingType" round dense>
                        <template v-slot:default>
                            <SvgComponent
                                v-if="listingType === 'grid'"
                                style="tra"
                                :svgId="`listing_grid_type`"
                            />
                            <SvgComponent
                                v-if="listingType === 'list'"
                                style="tra"
                                :svgId="`listing_list_type`"
                            />
                        </template>
                    </q-btn>
                </q-toolbar>

                <!-- Filter sidebar -->
                <q-toolbar q-toolbar class="listing_change_btn">
                    <q-btn
                        class="listing_change_btn"
                        flat
                        @click="canShowFilterSidebar = !canShowFilterSidebar"
                        round
                        dense
                    >
                        <template v-slot:default>
                            <SvgComponent style="tra" :svgId="`filter`" />
                        </template>
                    </q-btn>
                </q-toolbar>
            </div>
        </div>
        <FilterLayout @apply="applyFilter" />
    </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue';
import SvgComponent from 'src/helpers/svg/SvgComponent.vue';
import {
    currentSourceProductsModel,
    filterModel,
} from 'src/Services/Catalog/CatalogProductService';
import FilterLayout from './FilterLayout.vue';
import {
    canShowFilterSidebar,
    changeListingType,
    listingType,
    productListSortField,
    sorterModel,
    sorterOptions,
} from 'src/Services/Catalog/LayeredNavigationService';

export default defineComponent({
    name: 'LayeredNavigationLayout',
    components: { SvgComponent, FilterLayout },
    emits: ['apply'],
    props: {
        source: {
            type: String,
            required: true,
        },
        sourceId: {
            type: Number,
            required: true,
        },
    },
    setup(props, context) {
        const applyFilter = () => {
            context.emit('apply');
        };
        const applySort = (sort: any) => {
            productListSortField.value = sort.value;
            context.emit('apply');
        };

        return {
            applyFilter,
            applySort,
            sorterModel,
            sorterOptions,
            listingType,
            changeListingType,
            currentSourceProductsModel,
            filterModel,
            canShowFilterSidebar,
        };
    },
});
</script>


<style lang="scss" >
.layered_navigation {
    .control {
        display: flex;
        justify-content: space-between;
        .sorter_wrapper {
            width: 200px;
        }
        .right_content {
            display: flex;
            .listing_change_btn,
            .filter_show_btn {
                width: fit-content;
                padding: 0;
            }
        }

        svg {
            fill: $fontColor;
            width: 24px;
            height: 24px;
        }
    }
    .q-drawer {
        z-index: 10000;
    }
}

.body--dark {
    .layered_navigation {
        .control {
            svg {
                fill: $darkThemeFontColor;
            }
        }
    }
}
</style>


