<template>
    <div class="top_bar">
        <ul class="content">
            <li class="region">
                <q-select
                    v-model="currentRegionModel"
                    :options="regionOptionsModel"
                    :label="$t('Region')"
                    @popup-show="headerZ6000 = true"
                    @popup-hide="headerZ6000 = false"
                    @update:model-value="setCurrentRegion()"
                />
            </li>
            <li class="language">
                <q-select
                    behavior="dialog"
                    v-model="currentLanguageModel"
                    :options="languageOptions"
                    :label="$t('Language')"
                    :option-label="(item) => $t(item.label)"
                    @update:model-value="updateLocale()"
                />
            </li>
            <li class="theme">
                <q-select
                    behavior="dialog"
                    v-model="currentThemeModel"
                    :options="themeOptions"
                    :label="$t('Theme')"
                    :option-label="(item) => $t(item.label)"
                    @update:model-value="setCurrentTheme()"
                />
            </li>
            <li class="faq"></li>
        </ul>
    </div>
</template>


<script lang="ts">
import { defineComponent } from 'vue';
import {
    regionOptionsModel,
    currentRegionModel,
    setCurrentRegion,
} from 'src/Services/Customer/RegionService';
import {
    setCurrentTheme,
    currentThemeModel,
    themeOptions,
} from 'src/Services/Customer/ThemeService';
import {
    languageOptions,
    currentLanguageModel,
    setCurrentLanguage,
} from 'src/Services/Customer/LanguageService';
import { useI18n } from 'vue-i18n';
import { headerZ6000 } from 'src/Services/HeaderService';

export default defineComponent({
    name: 'BurgerSettings',
    async setup() {
        const { locale } = useI18n({ useScope: 'global' });

        const updateLocale = async() => {
            locale.value = currentLanguageModel.value.value;
            await setCurrentLanguage();
        };

        return {
            headerZ6000,
            regionOptionsModel,
            currentRegionModel,
            currentLanguageModel,
            currentThemeModel,
            setCurrentRegion,
            setCurrentTheme,
            themeOptions,
            languageOptions,
            updateLocale,
        };
    },
});
</script>


<style lang="scss" >
body.body--dark {
    .top_bar {
        background: $darkThemeBackgroundColor;
    }
}

.top_bar {
    width: 100%;
    padding: 0 10px;
    z-index: 10;
    display: block;
    margin-top: 45px;
    background: $lightThemeBackgroundColor;
    ul {
        li {
            margin-top: 30px;
        }
    }
}
</style>


