<template>
    <q-header bordered class="header" :class="{ hide: hideHeader, headerZ6000: headerZ6000 }">
        <q-toolbar class="row">
            <!-- burger -->
            <transition enter-active-class="animated fadeIn">
                <div class="burger_menu" v-if="$route.name === 'home_page'">
                    <label
                        class="menu__btn"
                        :class="{ toggle: canShowBurgerSettings }"
                        for="menu__toggle"
                        @click="canShowBurgerSettings = !canShowBurgerSettings"
                    >
                        <span></span>
                    </label>
                </div>
            </transition>

            <!-- BACK -->
            <transition enter-active-class="animated fadeIn">
                <div
                    class="go_back"
                    @click="$router.go(-1)"
                    v-if="$route.name !== 'home_page'"
                >
                    <div class="icon text-center">
                        <SvgComponent :svgId="'arrow-back'" />
                    </div>
                </div>
            </transition>

            <!-- LOGO -->
            <transition enter-active-class="animated fadeIn">
                <div class="logo" v-if="logo">
                    <SvgComponent
                        :svgId="`logo_${storeId}_${currentThemeModel.value}`"
                    />
                </div>
            </transition>

            <!-- TITLE -->
            <transition enter-active-class="animated fadeInDown">
                <div class="title" v-if="title !== null">
                    <h1>{{ $t(title) }}</h1>
                </div>
            </transition>

            <!--  search link -->
            <div class="search_link" v-if="!searchForm">
                <router-link :to="{ name: 'search_page' }">
                    <q-icon name="search" />
                </router-link>
            </div>

            <!-- search form -->
            <transition enter-active-class="animated fadeInDown">
                <q-form
                    @submit="onSubmit"
                    @reset="onReset"
                    class="q-gutter-md col-10 row"
                    v-if="searchForm"
                >
                    <q-input
                        v-model="ph"
                        :placeholder="$t('Search')"
                        class="col-8"
                    />
                    <q-btn
                        flat
                        type="submit"
                        size="md"
                        class="col-2"
                        icon="search"
                    />
                </q-form>
            </transition>
        </q-toolbar>

        <q-dialog
            :seamless="false"
            v-model="canShowBurgerSettings"
            :position="position"
        >
            <Suspense>
                <BurgerSettings />
            </Suspense>
        </q-dialog>
    </q-header>
</template>


<script lang="ts">
/**
 * @author Medet Bakhytzhan <b.m.bakytzhan@gmail.com>
 */

import { defineComponent, ref } from 'vue';
import BurgerSettings from './BurgerSettings.vue';
import SvgComponent from 'src/helpers/svg/SvgComponent.vue';
import { currentThemeModel } from 'src/Services/Customer/ThemeService';
import appConfig from 'src/config/app';
import { useRouter } from 'vue-router';
import {
    setHeaderStates,
    title,
    searchForm,
    logo,
    hideHeader,
    headerZ6000
} from 'src/Services/HeaderService';

export default defineComponent({
    name: 'HeaderLayout',
    components: {
        BurgerSettings,
        SvgComponent,
    },
    setup() {
        const router = useRouter();
        router.beforeEach(() => {
            setHeaderStates();
        });

        // Current store id
        const storeId = appConfig.storeId;

        // Init "burger settings" position
        const position = ref('top');
        const canShowBurgerSettings = ref(false);


        const onSubmit = () => {
            console.log('onSubmit');
        };

        const onReset = () => {
            console.log('onReset');
        };

        const ph = ref('');
        console.log(currentThemeModel.value)
        return {
            headerZ6000,
            hideHeader,
            title,
            searchForm,
            logo,
            position,
            canShowBurgerSettings,
            onSubmit,
            onReset,
            ph,
            currentThemeModel,
            storeId,
        };
    },
});
</script>


<style lang="scss">
.body--dark {
    header.header {
        background: $darkThemeBackgroundColor;
        color: $darkThemeFontColor;
        .menu__btn > span,
        .menu__btn > span::before,
        .menu__btn > span::after {
            background-color: $darkThemeFontColor;
        }
        .q-field__native,
        .q-icon {
            color: $darkThemeFontColor;
        }
        .title {
            h1 {
                &:after {
                    content: ' ';
                    -webkit-box-shadow: -41px 0px 19px -15px $darkThemeBackgroundColor
                        inset;
                    -moz-box-shadow: -41px 0px 19px -15px $darkThemeBackgroundColor
                        inset;
                    box-shadow: -41px 0px 19px -15px $darkThemeBackgroundColor inset;
                }
            }
        }
    }
}
header.header {
    color: $fontColor;
    position: fixed;
    top: 0;
    &.headerZ6000 {
        z-index: 6000;
    }
    .q-toolbar {
        display: flex;
        justify-content: space-between;
        max-width: $pageMaxWidth;
        margin: 0 auto;
    }
    &.hide {
        top: -50px;
    }
    z-index: 6001;
    transition: all 0.2s linear;
    font-size: 12px;
    background: $lightThemeBackgroundColor;
    .q-toolbar {
        min-height: 45px;
        background: inherit;
        z-index: 12;
    }
    .burger_menu {
        width: inherit;
        // color: $fontColor;
    }
    .go_back {
        padding: 10px 10px 10px 0;
    }
    .title {
        position: absolute;
        left: 50px;
        width: calc(100vw - 100px);
        white-space: nowrap;
        overflow: hidden;
        h1 {
            font-size: 16px;
            line-height: unset;
            &:after {
                content: ' ';
                -webkit-box-shadow: -41px 0px 19px -15px $lightThemeBackgroundColor inset;
                -moz-box-shadow: -41px 0px 19px -15px $lightThemeBackgroundColor inset;
                box-shadow: -41px 0px 19px -15px $lightThemeBackgroundColor inset;
                height: 35px;
                width: 37px;
                display: block;
                position: absolute;
                top: 0;
                right: 0;
            }
        }
    }
    .icon {
        margin-bottom: -8px;
        svg {
            height: 24px;
            width: 24px;
            fill: $fontColor;
        }
    }
    form {
        .q-field__control {
            height: 35px;
            &::before {
                border: none;
            }
        }
        button {
            // color: $fontColor;
            &::before {
                box-shadow: none;
            }
        }
    }
    .logo {
        position: absolute;
        right: 50%;
        transform: translateX(50%) translateY(-50%);
        top: 50%;
        height: fit-content;
        max-height: 100%;
        display: flex;
        svg {
            width: 200px;
        }
    }
    .search_link {
        a {
            padding: 10px 0 10px 10px;
            text-decoration: none;
            font-size: 25px;
        }
    }
    .q-field__native,
    .q-icon {
        color: $fontColor;
    }

    .toggle.menu__btn > span {
        transform: rotate(45deg);
    }
    .toggle.menu__btn > span::before {
        top: 0;
        transform: rotate(0deg);
    }
    .toggle.menu__btn > span::after {
        top: 0;
        transform: rotate(90deg);
    }

    .menu__btn {
        position: absolute;
        top: 20px;
        left: 20px;
        width: 26px;
        height: 26px;
        cursor: pointer;
        z-index: 1;
    }
    .menu__btn > span,
    .menu__btn > span::before,
    .menu__btn > span::after {
        display: block;
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: $fontColor;
        transition-duration: 0.25s;
    }
    .menu__btn > span::before {
        content: '';
        top: -8px;
    }
    .menu__btn > span::after {
        content: '';
        top: 8px;
    }
}
</style>


