<template>
    <q-pull-to-refresh @refresh="refresh">
        <router-view />
    </q-pull-to-refresh>
</template>

<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({
    name: 'App',
    setup() {
        const refresh = (done: any) => {
            console.log('refresh');
            done();
        };
        return { refresh };
    },
});
</script>
