<!DOCTYPE html>
<html>
  <head>
    <title><%= productName %></title>

    <meta charset="utf-8">
    <meta name="description" content="<%= productDescription %>">
    <meta name="format-detection" content="telephone=no">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width<% if (ctx.mode.cordova || ctx.mode.capacitor) { %>, viewport-fit=cover<% } %>">

    <link rel="icon" type="image/svg" sizes="128x128" href="icons/<%= productName %>_favicon-128x128.svg">
    <link rel="icon" type="image/svg" sizes="96x96" href="icons/<%= productName %>_favicon-96x96.svg">
    <link rel="icon" type="image/svg" sizes="32x32" href="icons/<%= productName %>_favicon-32x32.svg">
    <link rel="icon" type="image/svg" sizes="16x16" href="icons/<%= productName %>_favicon-16x16.svg">
    <link rel="icon" type="image/ico" href="<%= productName %>_favicon.ico">
  </head>
  <body>
    <!-- DO NOT touch the following DIV -->
    <div id="q-app"></div>
  </body>
</html>
