<template>
    <!-- Header -->
    <HeaderLayout />

    <!-- Page container -->
    <q-page-container>
        <router-view v-slot="{ Component }">
            <transition enter-active-class="animated fadeIn">
                <component :is="Component" />
            </transition>
        </router-view>
    </q-page-container>

    <!-- Footer -->
    <FooterLayout />
    <q-scroll-observer @scroll="handlePan" />
</template>


<script lang="ts">
import { defineComponent } from 'vue';
import FooterLayout from './Footer/FooterLayout.vue';
import HeaderLayout from './Header/HeaderLayout.vue';
import SvgComponent from 'src/helpers/svg/SvgComponent.vue';
import { hideHeader } from 'src/Services/HeaderService';
import { initCustomerData } from 'src/Services/Customer/CustomerService';
import { useQuasar } from 'quasar';
import {$quasarState} from 'src/states/Loader';
export default defineComponent({
    name: 'LoaderLayout',
    components: {
        SvgComponent,
        FooterLayout,
        HeaderLayout,
    },
    async setup() {
        $quasarState.value = useQuasar();

        // Get customer data
        await initCustomerData();

        let lastScrollPosition = 0;
        const handlePan = (info: any) => {
            // Get the current scroll position
            const currentScrollPosition = info.position.top;

            if (currentScrollPosition < 0) {
                return;
            }

            if (Math.abs(currentScrollPosition - lastScrollPosition) < 60) {
                return;
            }
            hideHeader.value = currentScrollPosition > lastScrollPosition;
            lastScrollPosition = currentScrollPosition;
        };
        return { handlePan };
    },
});
</script>


<style lang="scss" >
.loader {
    position: fixed;
    z-index: 10000;
    top: 0;
    bottom: 0;
    background: $storeLoaderColor;
    left: 0;
    right: 0;
    .loader_logo {
        left: 50%;
        bottom: 10%;
        transform: translateX(-50%);
        position: fixed;
        height: 50px;
        width: 200px;
    }
    .lds-roller {
        top: 50%;
        left: 50%;
        transform: translate3d(-50%, -50%, 0);
        display: inline-block;
        position: relative;
        width: 80px;
        height: 80px;
    }
    .lds-roller div {
        animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
        transform-origin: 40px 40px;
    }
    .lds-roller div:after {
        content: ' ';
        display: block;
        position: absolute;
        width: 7px;
        height: 7px;
        border-radius: 50%;
        background: #fff;
        margin: -4px 0 0 -4px;
    }
    .lds-roller div:nth-child(1) {
        animation-delay: -0.036s;
    }
    .lds-roller div:nth-child(1):after {
        top: 63px;
        left: 63px;
    }
    .lds-roller div:nth-child(2) {
        animation-delay: -0.072s;
    }
    .lds-roller div:nth-child(2):after {
        top: 68px;
        left: 56px;
    }
    .lds-roller div:nth-child(3) {
        animation-delay: -0.108s;
    }
    .lds-roller div:nth-child(3):after {
        top: 71px;
        left: 48px;
    }
    .lds-roller div:nth-child(4) {
        animation-delay: -0.144s;
    }
    .lds-roller div:nth-child(4):after {
        top: 72px;
        left: 40px;
    }
    .lds-roller div:nth-child(5) {
        animation-delay: -0.18s;
    }
    .lds-roller div:nth-child(5):after {
        top: 71px;
        left: 32px;
    }
    .lds-roller div:nth-child(6) {
        animation-delay: -0.216s;
    }
    .lds-roller div:nth-child(6):after {
        top: 68px;
        left: 24px;
    }
    .lds-roller div:nth-child(7) {
        animation-delay: -0.252s;
    }
    .lds-roller div:nth-child(7):after {
        top: 63px;
        left: 17px;
    }
    .lds-roller div:nth-child(8) {
        animation-delay: -0.288s;
    }
    .lds-roller div:nth-child(8):after {
        top: 56px;
        left: 12px;
    }
    @keyframes lds-roller {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }
}
</style>


