<template>
    <q-footer class="footer row">
        <div class="footer-container">
            <!-- Home -->
            <div class="item home col text-center">
                <router-link :to="{ name: 'home_page' }">
                    <div class="icon text-center">
                        <SvgComponent :svgId="'home'" />
                    </div>
                    <div class="label">
                        <span>
                            {{ $t('Home') }}
                        </span>
                    </div>
                </router-link>
            </div>

            <!-- Catalog -->
            <div class="item catalog col text-center">
                <router-link :to="{ name: 'catalog_page' }">
                    <div class="icon text-center">
                        <SvgComponent :svgId="'catalog'" />
                    </div>
                    <div class="label">
                        <span>
                            {{ $t('Catalog') }}
                        </span>
                    </div>
                </router-link>
            </div>

            <!-- Cart -->
            <div class="item cart col text-center">
                <router-link :to="{ name: 'checkout_page' }">
                    <div class="icon text-center">
                        <SvgComponent :svgId="'cart'" />
                    </div>
                    <div class="label">
                        <span>
                            {{ $t('Checkout') }}
                        </span>
                    </div>
                </router-link>
            </div>

            <!-- Wishlist -->
            <div class="item wishlist col text-center">
                <router-link :to="{ name: 'wishlist_page' }">
                    <div class="icon text-center">
                        <SvgComponent :svgId="'wishlist'" />
                    </div>
                    <div class="label">
                        <span>
                            {{ $t('Wishlist') }}
                        </span>
                    </div>
                </router-link>
            </div>

            <!-- Account -->
            <div class="item account col text-center">
                <router-link :to="{ name: 'account_page' }">
                    <div class="icon text-center">
                        <SvgComponent :svgId="'account'" />
                    </div>
                    <div class="label">
                        <span>
                            {{ $t('Account') }}
                        </span>
                    </div>
                </router-link>
            </div>
        </div>
    </q-footer>
</template>


<script lang="ts">
import { defineComponent } from 'vue';
import SvgComponent from '../../helpers/svg/SvgComponent.vue';

export default defineComponent({
    name: 'FooterLayout',
    components: {
        SvgComponent,
    },
});
</script>

<style lang="scss" scoped>
.body--dark {
    .footer {
        background: $darkThemeBackgroundColor;
        box-shadow: $darkThemeShadow;
        .footer-container {
            a {
                color: $darkThemeFontColor;
            }
        }
    }
}

.footer {
    box-shadow: $shadow;
    font-size: 12px;
    padding-top: 5px;
    background: $lightThemeBackgroundColor;
    .footer-container {
        display: flex;
        width: 100%;
        max-width: $pageMaxWidth;
        margin: 0 auto;

        a {
            color: $fontColor;
            text-decoration: unset;
            &.router-link-active {
                color: $storeMainColor;
            }
            .icon {
                margin-bottom: -8px;

                svg {
                    height: 24px;
                    width: 24px;
                }
            }
            &.router-link-exact-active {
                color: $storeMainColor;
            }
        }
        .go_back {
            color: $storeMainColor;
            .icon {
                margin-bottom: -8px;
                svg {
                    height: 24px;
                    width: 24px;
                }
            }
        }
    }
}
</style>>
