<template>
    <h5>category page</h5>
    <!-- Listing -->
    <Suspense>
        
        <template #default>
            <ProductListingLayout
                :source="source"
            />
        </template>

        <template #fallback>
            <ProductListingSkeleton/>
        </template>
    </Suspense>
</template>

<script lang="ts">
import {
    currentCatalogCategoryModel,
    getCurrentCategory,
} from 'src/Services/Catalog/CatalogCategoryService';
import { defineComponent } from 'vue';
import { useRoute } from 'vue-router';
import ProductListingLayout from 'src/layouts/Catatalog/Product/ProductListingLayout.vue';
import ProductSourceEnum from 'src/Enums/ProductSourceEnum';
import ProductListingSkeleton from 'src/layouts/Skeleton/ProductListingSkeleton.vue';
export default defineComponent({
    name: 'AsyncCategoryPage',
    components: {
        ProductListingLayout,
        ProductListingSkeleton
    },
    async setup() {
        // Init route
        const route = useRoute();

        // Get current category
        await getCurrentCategory(Number(route.params.id));

        const source = ProductSourceEnum.catalogCategory;
        return {
            source,
            currentCatalogCategoryModel,
        };
    },
});
</script>

<style lang="scss" scoped>
.skeleton_container {
    display: grid;
    grid-gap: 8px;
    grid-template-columns: repeat(2, 1fr);
    .img_skeleton {
        width: 100%;
        height: 180px;
    }
    .product-name {
        margin-bottom: 10px;
    }
    .price-box {
        width: 50%;
    }
    .q-card__actions {
        padding: 0;
        .q-skeleton {
            width: 100%;
            border-radius: 0 0 4px 4px;
        }
    }
}
@media (min-width: 570px) {
    .skeleton_container {
        grid-template-columns: repeat(3, 1fr);
    }
}
@media (min-width: 768px) {
    .skeleton_container {
        grid-template-columns: repeat(4, 1fr);
    }
}
</style>
