<template>
    <Suspense>
        <AsyncCategoryPage />
    </Suspense>
</template>

<script lang="ts">
import {
    currentCatalogCategoryModel
} from 'src/Services/Catalog/CatalogCategoryService';
import { defineComponent, onMounted } from 'vue';
import { setHeaderStates } from 'src/Services/HeaderService';
import AsyncCategoryPage from './AsyncCategoryPage.vue';

export default defineComponent({
    name: 'CategoryPage',
    components: {
        AsyncCategoryPage
    },
    setup() {

        onMounted(() => {
            setHeaderStates(currentCatalogCategoryModel.value?.name);
        });

        currentCatalogCategoryModel;
        return { currentCatalogCategoryModel };
    },
});
</script>
