<template>
   <div class="error"></div>
</template>

<script lang="ts">

/**
 * @author Medet Bakhytzhan <b.m.bakytzhan@gmail.com>
 */

import { defineComponent} from 'vue';

export default defineComponent({
    name: '404Page',
    components: {},
    setup() {
       return {};
    },
});
</script>
