<template>
    <div class="error">
        <div class="sorry-text">
            <p>Ошибка обращения к сервису</p>
            <p>
                Мы уже устраняем неисправность, попробуйте обновить страницу
                через некоторое время.
            </p>
            <p>Приносим извинения за временные неудобства.</p>
        </div>
        <div class="description">
            <p>Описание ошибки</p>
            <pre>{{ status }}</pre>
        </div>
    </div>
</template>

<script lang="ts">
/**
 * @author Medet Bakhytzhan <b.m.bakytzhan@gmail.com>
 */

import { defineComponent } from 'vue';
import { useRoute } from 'vue-router';

export default defineComponent({
    name: '500Page',
    components: {},
    setup() {
        const route = useRoute();
        const status = route.params.status;
        return { status };
    },
});
</script>
