<template>
    <div class="error_page">

        <h2 class="http-code">{{httpCode}}</h2>

        <component :is="`error_${httpCode}`" />

        <div class="home-link">
            <router-link :to="{ name: 'home_page' }">
                {{$t('Home')}}
            </router-link>
        </div>
    </div>
</template>

<script lang="ts">
/**
 * @author Medet Bakhytzhan <b.m.bakytzhan@gmail.com>
 */

import { defineComponent } from 'vue';
import { useRoute } from 'vue-router';
import { hideHeader } from 'src/Services/HeaderService';

import error_500 from './500.vue';
import error_404 from './404.vue';
import { hideLoader } from 'src/states/Loader';

export default defineComponent({
    name: 'ErrorPage',
    components: {
        error_500,
        error_404,
    },
    setup() {
        const route = useRoute();
        const httpCode = route.params.httpCode;
        hideLoader();
        hideHeader.value = true;

        return { httpCode };
    },
});
</script>
